img {
  border-radius: 10px;
}
.productsPageContainer {
  display: flex;
  flex-direction: column;
  padding: 24px;
}
.productsPageImg {
  width: 100%;
  margin-bottom: 40px;
  border-radius: 8px;
}
.productsPageHeading {
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 38px;
  letter-spacing: 1px;
  text-transform: uppercase;

  color: #000000;
}
.productsPageParagraph {
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 25px;
  /* or 167% */
  margin-bottom: 24px;
  color: #000000;

  mix-blend-mode: normal;
  opacity: 0.5;
}
.productsPagePrice {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  /* identical to box height */
  margin-bottom: 31px;
  letter-spacing: 1.28571px;
  text-transform: uppercase;

  color: #000000;
}
.productsPageCalculatorContainer {
  display: flex;

  gap: 16px;
}
.productsPageCalculatorContainer:hover {
  cursor: pointer;
}
.productsPagePlusMinus {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
  background-color: #f1f1f1;
  padding: 15px;
}
.productsPageFeatures {
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 25px;
  /* or 167% */

  color: #000000;

  mix-blend-mode: normal;
  opacity: 0.5;
}
.features {
  margin-top: 88px;
}
.ulOrange {
  color: #d87d4a;
}
.productsPageList {
  list-style: none;
}
.productsPageListInner {
  display: flex;
  gap: 24px;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 25px;
  /* identical to box height, or 167% */

  color: #000000;

  mix-blend-mode: normal;
  opacity: 0.5;
}
.productsPageImagesContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.productsPageFirsSize {
  width: 100%;
}
.productsPageSecondSize {
  width: 100%;
}

@media (min-width: 768px) {
  .productPageInfoSide {
    display: flex;
    flex-direction: row;
  }
  .productsPageImg {
    width: 30%;
  }
  .productsPageHeading {
    margin-left: 69px;
    margin-right: 35px;
  }
  .productsPageParagraph {
    margin-left: 69px;
    margin-right: 50px;
  }
  .productsPageCalculatorContainer {
    margin-left: 69px;
  }
  .productsPagePrice {
    margin-left: 69px;
  }
  .productsPageList {
    display: flex;
    justify-content: left;
    margin-bottom: 120px;
  }
  .listDiv {
    display: flex;
    flex-direction: column;
  }
  .inTheBox {
    margin-right: 100px;
  }
  .productsPageFeatures {
    margin-bottom: 120px;
  }
  .leftSideImages {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .productsPageImagesContainer {
    display: flex;
    flex-direction: row;
    padding: 0;
  }
  .productsPageFirsSize {
    object-fit: cover;
    width: 70%;
    height: 35%;
  }
  .productsPageSecondSize {
    object-fit: none;
  }
  .productsPageSecondSize {
    width: 50%;
  }
  .productsPageAlsoLike {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }
}
