body {
  padding: 0;
  margin: 0;
}
.headerContainer {
  background-color: black;
  display: flex;
  justify-content: space-around;
  padding: 32px 24px 32px 24px;
  position: relative;
}
.cart {
  position: absolute;
  background-color: white;
  margin-left: 24px;
  margin-right: 24px;
  top: 70px;
  z-index: 999;
  width: 80%;
  height: 488px;
  border-radius: 8px;
}
.cartInfoContainer {
  display: flex;
  justify-content: space-between;
}
.cartQuantity {
  margin-left: 28px;
  margin-top: 32px;
}
.cartRemoveButton {
  margin-right: 28px;
  margin-top: 32px;
}
.cartRemoveButton:hover {
  color: red;
}
.navOff {
  display: none;
}
.navOpen {
  position: absolute;
  background-color: white;
  width: 100%;
  z-index: 999;
  border-radius: 10px;
  box-shadow: 5px 10px 8px 10px #888888;
}
