body {
  padding: 0;
  margin: 0;
}
.nav:hover {
  cursor: pointer;
}
.basket:hover {
  cursor: pointer;
}
.headerContainer {
  background-color: black;
  display: flex;
  justify-content: space-around;
  padding: 32px 24px 32px 24px;
  position: relative;
}
.cart {
  position: absolute;
  background-color: white;
  margin-left: 24px;
  margin-right: 24px;
  top: 70px;
  z-index: 1500;
  width: 80%;
  height: 488px;
  border-radius: 8px;
}
.cartInfoContainer {
  display: flex;
  justify-content: space-between;
}
.cartQuantity {
  margin-left: 28px;
  margin-top: 32px;
}
.cartRemoveButton {
  margin-right: 28px;
  margin-top: 32px;
}
.closeCartButton {
  position: absolute;
  right: 3px;
  top: 3px;
}

.closeCartButton:hover {
  cursor: pointer;
}

.cartRemoveButton:hover {
  cursor: pointer;
}
.cartRemoveButton:hover {
  color: red;
}
.navOff {
  display: none;
}
.navOpen {
  position: absolute;
  background-color: white;
  top: 100%;

  z-index: 1000;
  border-radius: 10px;
}
.navBarTop {
  display: none;
  position: relative;
}
.navBarInner:hover {
  color: #d87d4a;
}

@media (min-width: 1440px) {
  .headerContainer {
    display: flex;
  }
  .nav {
    display: none;
  }
  .logo {
    margin-top: 27px;
  }

  .navBarTop {
    display: flex;
    list-style-type: none;

    gap: 50px;
  }
}
